@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #000;
  color: #fff
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.966);
  z-index: 100;
  position: sticky;
  top: 0px;
}

.containerHeader {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.containerHeader .logo img {
  width: 35px;
}

.car i {
  height: auto;
  font-size: 18px;
  color: #fff;
}

.car {
  width: 120px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.car .num span {
  color: rgba(3, 214, 3, 0.966);
  font-size: 18px;
}

.car .num {
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

.header h1 {
  width: 582px;
  font-size: 30px;
  color: #fff;
}

.carrouselContainer {
  display: flex;
}

.carrouselContainer img {
  position: relative !important;
  margin: auto;
  left: 0 !important;
  height: 300px !important;
  width: 100% !important;
}

#left {
  z-index: 1;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #101010;
}
::-webkit-scrollbar-thumb {
  background: #20c921;
  border-radius: 10px;
}

.modal-container {
  display: flex;
  /* background-color: rgba(0, 0, 0, 0.3); */
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  /* opacity: 1;   */
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}

#show {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  z-index: 20000;
  background-color: rgba(26, 25, 25, 0.911);
  width: 700px;
  max-width: 100%;
  padding: 20px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal h1 {
  margin: 0;
  text-align: center;
}

.modal img {
  width: 200px;
  float: left;
}

.content {
  display: inline-block;
  width: 100%;
}

.modal h2 {
  margin-top: 20px;
}

.modal .fa-times {
  float: right;
  cursor: pointer;
  font-size: 20px;
}

.modal p {
  opacity: 0.7;
  font-size: 14px;
  margin-top: 20px;
}



.box {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 50px auto;
}



.box input {

  font-size: 20px;
  transition: 0.5s;
}

.box input::placeholder{
  color: #ffffff !important;
 
}

.box input:hover{
  border-color: #20c921;
}

.box input[type="text"] {
  background: #080808;
  color: #fff;
  width: 340px;
  height: 50px;
  border: none;
  outline: none;
  padding: 0 25px;
  border-radius: 5px 0 0 5px;
}

.box input::placeholder {
  color: #fff;
}

.box input[type="submit"] {
  left: -6px;
  border-radius: 0 5px 5px 0;
  width: 150px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  background: rgba(2, 175, 2, 0.904)
}

.containerCard {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  gap: 50px;
  flex-wrap: wrap;
}

.card {
  background-color: #080808;
  width: 300px;
  height: 480px;
  border-radius: 15px;
}

.textCard {
  text-align: center;
}
.textCard h1 {
  margin-bottom: 10px;
}

.textCard p {
  font-size: 14px;
  margin-bottom: 10px;
}

.preco {
  text-align: center;
  color: #006633;
}

.stars {
  text-align: center;
  margin: 10px 0;
  font-size: 14px;
  color: #F2E638;
}

.containerCard .card a {
  display: flex;
  width: 100%;
  background: #006633;
  justify-content: center;
  padding: 10px;
  color: #fff;
}

.card .image img {
  width: 300px;
}

.containerFooter{
  margin-top: 50px;
  background-color:rgba(22, 22, 22, 0.884);
  height: 200px;
}
